<div class="container">
<h1>Your Cart</h1>



<% total = 0 %>
	
<table class="cart">
    <tr>
        <td class="legend">Product</td>
        <td class="legend">Item</td>
        <td class="legend">Price</td>
        <td class="legend">Qty</td>
        <td class="legend">Total</td>
    </tr>
	
    <% @cart.each do | id, quantity | %>
    <% item = Item.find_by_id(id) %>
    <tr>
        <td>
            <div class="image">
                <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
            </div>
        </td>
        <td class="title"><%= link_to item.title, item %></td>
        <td class="price"><%= number_to_currency(item.price) %></td>
        <td class="quantity"><%= quantity %><br /></td>
        <td class="price">
        <%= number_to_currency(quantity * item.price, :unit => "£") %>
    </td>
    </tr>
    <% total += quantity * item.price %>
    <% end %>

    <tr>
        <td colspan="4">
            <div class="total">Total:</div>
        </td>
        <td>
            <div class="price"><%= total=number_to_currency(total, :unit => "€") %></div>
        </td>
    </tr>
</table>
<br><br><br>

    <%= link_to 'Empty your Cart', cart_clear_path %>

<p>
     <%= link_to 'Continue Shopping', :controller => :items %>
</p>

<% if @cart.empty? %>
<p>Your Cart is empty.</p>
<% else %>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><%= total %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="amount"
          data-locale="auto"></script>
          <% end %>
          
<% end %>

