<section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>THE FINEST DOOR HARDWARE RESOURCE IN DUBLIN</h2>
              <p>We hope you find what you are looking for here at our site. Our full portfolio of door furniture items, the Heritage Door Furniture Suite comprises four distinct collections. Please read on for more details.</p>
              <p>The Banville Door Handle Collection collates the finest door handle technology available today. Crafted from the finest alloys and materials you will find the standard of craftsmanship second to none.</p>
              <p>The Bowen Door Knob Collection gathers together our finest offering of door knobs to date. Designed with an almost obsessive eye for detail, the Bowen Collection has the door knob that will complement and bring admiration to any home’s door.</p>
              <p>The McCourt Latches and Locks Collection brings fuses functionality and durability in our world class standard door security items.</p>
              <p>And finally the Kavanagh Hinges Collection offers you high-end hinges ranging from piano hinges to washered and plain-bearing pieces. Don’t compromise with door hinges with our Kavanagh Collection.</p>
            </div>
        </div>
</section>