<div class="container">
<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="catalog">
  <tr>
    <td>
  <div class="field">
    <%= f.label :title %>
    </td>
    <td>
    <%= f.text_field :title %>
  </div>
  </td>
  </tr>

<tr>
    <td>
  <div class="field">
    <%= f.label :description %>
    </td>
    <td>
    <%= f.text_area :description %>
  </div>
  </td>
  </tr>
<tr>
    <td>
  <div class="field">
    <%= f.label :price %>
    </td>
    <td>
    <%= f.text_field :price %>
  </div>
  </td>
  </tr>
<tr>
    <td>
  <div class="field">
    <%= f.label :image_url %>
    </td>
    <td>
    <%= f.text_field :image_url %>
  </div>
  </td>
  </tr>
<tr>
    <td>
  <div class="field">
    <%= f.label :category %>
    </td>
    <td>
    <%= f.text_field :category %>
  </div>
  </td>
  </tr>
<tr>
    <td>
  <div class="field">
    <%= f.label :brand %>
    </td>
    <td>
    <%= f.text_field :brand %>
  </div>
  </td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>