<p id="notice"><%= notice %></p>
<div class="container">
<h1>Catalog</h1>
    
<% @items.each do |item| %>
    <div class="col-sm-2">
      <div class="panel panel-success">
          <div class="panel-heading"><%= link_to item.title, item %></div>
          <div class="panel-body"><%= link_to (image_tag item.image_url, :style => "height:90px"), item %> </div>
          <div class="panel-footer"><%= link_to item.category, item %>
            </div>
          <div class="panel-footer">
            <h4><%= number_to_currency(item.price, :unit => "Price: ") %></h4>
          <div class="links">
                <% if user_signed_in? %>
                    <% if current_user.try(:admin?) %>
                         <%= link_to 'Edit', edit_item_path(item)%> |
                        <%= link_to 'Delete', item, :confirm => 'Are you sure?', :method => :delete %>
                    
                    <% end %>
                <% end %>
                <a href="/cart/<%= item.id %>"> Add to Cart</a>
           </div>
          </div>
      </div>
    </div>
<% end %>
</div>
<div class="container">
    <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
            <p><%= link_to 'New item', new_item_path %></p>
        <% end %>
    <% end %>
  </div>