<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
   
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
   
     .jumbotron {
      margin-bottom: 0;
       background-image: url("/assets/header.jpg");
    }
    
    footer {
      background-color: #c2c2a3;
      padding: 15px;
    }
  
  </style>
  </head>

  <body>
    <div class="jumbotron">
  <div class="container text-center">
    <h1>Locks and Hardware's </h1>      
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li><a href="/items">Products</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><%= link_to "Edit My Account",edit_user_registration_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
      </li>
         <% else %>
         <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li> <%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
              <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    <%= yield %>
</body>
</html>
